.zodiac2{
    /* width: 100px; */
    border-radius: 50%;
    display: inline-flexbox;
    width: 220px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.zodi2{
    width: 800px;
    height: 800px;;
    position: relative;
    right: 22%;
}

.card{
    background-color: rgb(13, 39, 63);
    width: 230px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 81%;
    border-radius: 25px;
}